<!DOCTYPE html>
<html>
  <head>
    <title>Kaistagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if user_signed_in? %>
   <div id = "user-sign-out-control"><a href="<%= destroy_user_session_path%>" data-method="delete">
     <i class="fa fa-user">Sign out</i>
   </a>
 <% else %>
   <a href="<%= new_user_session_path%>">
     <i class="fa fa-sign-in">Sign in</i>
   </a></div>
 <% end %>

    <%= yield %>
  </body>
</html>
